.list_book{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.books-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
   
  .books-list li {
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }